<div class='countries'>
  <h2 class='countries__title'>Search Results</h2>
  <ul class='countries__list'>
    {{#each this}}
      <li class='countries__item'>{{this.name}}</li>
    {{/each}}
  </ul>
</div>